@font-face {
    font-family: JetBrainsMono;
    src: url("assets/font/JetBrainsMonoNerdFont-Medium.ttf");
}

:root {
    --black: oklch(0.25 0 0);
    --white: oklch(0.95 0 0);
    --alpha: rgba(0 0 0 0);
    --main: oklch(0.5 0.1 300);
}

* {
    border: solid 1px var(--black);
    background-color: var(--white);
    color: var(--black);
    font-family: "JetBrainsMono";
}

html {
    border: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: none;
}

main {
    flex-direction: column;
    width: calc(100% - 20px);
    max-width: 720px;
}

banner {
    aspect-ratio: 326/81;
}

bio {
    flex-direction: column;
}

links {
    justify-content: right;
}

a {
    overflow: hidden !important;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    border-left: solid 2px black;
    aspect-ratio: 1/1;
    margin-right: 2px;
    width: 1em;
}

.container {
    display: flex;
    overflow: auto;
}

.pad {
    padding: 0.5em;
}
