@font-face {
    font-family: JetBrainsMono;
    src: url("assets/font/JetBrainsMonoNerdFont-Medium.ttf");
}

* {
    border: solid 2px black;
    font-family: "JetBrainsMono";
}

body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main {
    width: 100%;
    max-width: 720px;
    flex-direction: column;
    margin: 0 10px;
}

banner {
    aspect-ratio: 326/81;
}

p {
    padding: 0;
    margin: 0;
    border: none;
}

links {
    justify-content: right;
}

a {
    overflow: hidden !important;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    border-left: solid 2px black;
    width: 1em;
    aspect-ratio: 1/1;
    margin-right: 2px;
}

.container {
    display: flex;
    overflow: auto;
}

.pad {
    padding: 0.5em;
}

#mark {
    border: none;
    padding: 0;
    margin: 0;
    height: 0.75em;
}